.container-title {
    font-size: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.play-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: 50px;
}

.animation {
    height: 100px;
}

.stats-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.turn-active{
    font-size: 50px;
    color: chartreuse;
    animation: 1s turn-active linear infinite;
}

.turn-wait{
    color: red;
    font-size: 50px;
}

@keyframes turn-active {
    from {
        color: chartreuse;
    }

    50%{
        color: white;
    }

    to{
        color: chartreuse;
    }
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}