.container-title {
    font-size: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.play-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: 50px;
}

.animation {
    height: 100px;
}

.stats-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.turn-active{
    font-size: 50px;
    color: chartreuse;
    animation: 1s turn-active linear infinite;
}

.turn-wait{
    color: red;
    font-size: 50px;
}

@keyframes turn-active {
    from {
        color: chartreuse;
    }

    50%{
        color: white;
    }

    to{
        color: chartreuse;
    }
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cell{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    font-size: 20px;
    img{
        width: 25px;
        height: 25px;
    }

    .enemy{
        cursor: url("../../assets/cursor/pointer.png"), pointer;
        transition: 0.2s ease-in-out;
    }
}

.empty{

}

.ally{

}

.enemy{
    cursor: url("../../assets/cursor/pointer.png"), pointer;
    transition: 0.2s ease-in-out;
}

.enemy:hover{
    background: rgba(255, 255, 255, 0.6);
}

.miss{
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.ship{
    background: rgba(55, 177, 194, 0.94);
    pointer-events: none;
}

.checked{
    background: rgba(236, 5, 5, 0.5);
    pointer-events: none;
}

.disabled{
    pointer-events: none;
}